@model FYPJ_Web_App_Insecure.Models.CustomerTrans
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@section Scripts{
    <script src="/files/js/changecard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
}




<!------ Include the above in your HEAD tag ---------->

@{ ViewData["Title"] = "Profile"; }
@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}
else
{
    <div class="container">
        <br />
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">My Account</a></li>
            <li><a data-toggle="tab" href="#menu1">Edit Profile</a></li>
            <li><a data-toggle="tab" href="#menu5">Enable 2FA</a></li>
            <li><a data-toggle="tab" href="#menu2">Transaction History</a></li>
            <li><a data-toggle="tab" href="#menu3">My Cards</a></li>
            <li><a data-toggle="tab" href="#menu4">Deactivate Account</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">

                <h3>My Account</h3>

                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                @Html.Raw(Model.customer.Username)
                            </h5>
                            <h6>
                                User no. #@Model.customer.UserId
                            </h6>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.customer.Uemail</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Postal Code</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.customer.Postal_code</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>City</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.customer.City</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.customer.Phone</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Password</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.customer.Pwd</p>
                                </div>
                            </div>
                            @if (ViewBag.isAdmin != null)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Secret</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>/routes</p>
                                    </div>
                                </div>}


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">

                        </div>
                    </div>

                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Edit Profile</h3>
                <form asp-controller="Account" asp-action="EditAccount" method="POST">
                    <div class="form-group">
                        <label asp-for="customer.Username" class="control-label"></label>
                        <input asp-for="customer.Username" class="form-control" placeholder="Enter Username" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="customer.Uemail" class="control-label"></label>
                        <input asp-for="customer.Uemail" class="form-control" placeholder="Enter email" required />
                    </div>
                    <div class="form-group">
                        <label>Select Secret Question</label>
                        <div>
                            <select asp-for="customer.Secret_Qns" form-select" aria-label="Default select example">
                                <option value="What is your favourite Color?">What is your favourite Color?</option>
                                <option value="What is your family name">What is your family name?</option>
                                <option value="Company you first worked in?">Company you first worked in?</option>
                                <option value="Favourite Movie?">Favourite Movie?</option>
                                <option value="Favourite Book?">Favourite Book?</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="customer.Secret_Ans" class="control-label">Answer</label>
                        <input asp-for="customer.Secret_Ans" class="form-control" required />
                        <span asp-validation-for="customer.Secret_Ans" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="customer.Pwd" class="control-label">New Password</label>
                        <input asp-for="customer.Pwd" class="form-control" placeholder="Enter new password" required />
                        <span asp-validation-for="customer.Pwd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="customer.Confirmpwd" class="control-label">Confirm New Password</label>
                        <input asp-for="customer.Confirmpwd" class="form-control" placeholder="Confirm new password" required />
                        <span asp-validation-for="customer.Confirmpwd" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-large">Reset</button>
                    </div>
                </form>
                <p>@ViewBag.NotSamePassword</p>
                <p>@ViewBag.NotValidUser</p>
                <p>@ViewBag.WrongQuestion</p>
                <p>@ViewBag.WrongAnswer</p>
                <p>@ViewBag.Successfull </p>
            </div>
            <div id="menu5" class="tab-pane fade">
                <h3>Enable 2FA</h3>
                @if (ViewBag.faenabled != null)
                {
                    <p>You already have 2FA enabled!</p>
                }
                else
                {
                    <div>
                        <label class="control-label">Would you like to enable 2 Factor Authentication to make your account more secure?</label>
                        <form method="post" asp-controller="Account" asp-action="Enable2fa">
                            <div class="form-group">
                                <img src="@ViewBag.BarcodeImageUrl" />
                            </div>
                            <div class="form-group">
                                <p>Setup code: @ViewBag.SetupCode</p>
                            </div>
                            <div class="form-group">
                                <p>Input security code: <input name="inputCode" /></p>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block btn-large">Enable</button>

                        </form>
                        @if (ViewBag.error != null)
                        {
                            <p>Code is invalid please try again</p>
                        }
                    </div>
                }
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Transaction History</h3>

                <table class="table table-hover table-bordered results">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="col-md-4 col-xs-4">Title</th>
                            <th class="col-md-3 col-xs-3">Price</th>
                            <th class="col-md-3 col-xs-3">Quantity</th>
                            <th class="col-md-2 col-xs-2">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.orderHistory)
                        {
                            <tr>
                                <th scope="row">@item.TransactionId</th>
                                <td>@item.ProductName</td>
                                <td>$@item.UnitPrice</td>
                                <td>@item.Quantity</td>
                                <td>$@((item.UnitPrice * item.Quantity) - (decimal)item.Discount)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>My Cards</h3>
                <table class="table table-hover table-bordered results">
                    <thead>
                        <tr>
                            <th class="col-md-4 col-xs-4">Card Name</th>
                            <th class="col-md-3 col-xs-3">Card Number</th>
                            <th class="col-md-3 col-xs-3">Expiration</th>
                            <th class="col-md-2 col-xs-2">Default card</th>
                            <th class="col-md-2 col-xs-2">Set as default</th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.creditcard)
                        {
                            <form asp-controller="Account" asp-action="updatedefaultcc" method="post">
                                <tr>
                                    <th scope="row">@item.cc_name</th>
                                    <td>@item.cc_no</td>
                                    <td>@item.ExpMonth / @item.ExpYear</td>
                                    <td>@item.default_card</td>
                                    <td>
                                        <input type="hidden" name="cc_id" value="@item.cc_id" />
                                        <input type="hidden" name="user_id" value="@HttpContextAccessor.HttpContext.Session.GetInt32("UserId").ToString()" />
                                        @if (item.default_card == false)
                                        {
                                            <button type="submit" class="btn btn-primary">Set as Default</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-success">Your default card</button>

                                        }
                                    </td>
                                </tr>
                            </form>
                        }

                    </tbody>
                </table>
            </div>
            <div id="menu4" class="tab-pane fade">
                <h3>Deactivate account</h3>
                <form asp-controller="Account" asp-action="Deactivate" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetInt32("UserId").ToString()" method="post">
                    <div class="form-group">
                        <label type="text" asp-for="customer.UserId" class="control-label">User ID</label>
                        <input class="form-control" type="text" asp-for="customer.UserId" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Type Confirm to deactivate account</label>
                        <input name="Confirm" class="form-control" placeholder="Confirm" required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-large">Deactivate User</button>
                    </div>
                </form>
                @if (HttpContextAccessor.HttpContext.Session.GetInt32("not_deactivated").ToString() != null)
                {
                    <h4>Please type Confirm</h4>
                }
            </div>
        </div>

    </div>
}

