@*@using FYPJ_Web_App_Insecure.Models;
@model IEnumerable<Customer>


    @{
    ViewData["Title"] = "ErrorPage";
    }
    @if (ViewBag.NotAllowed != null)
{
    <p>@ViewBag.NotAllowed</p>
}
else
{
    <h2> See the top featured users!</h2>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uemail)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>

                @foreach (Customer customer in Model)
                {
            <tr>

                <td>@customer.Username</td>
                <td>@customer.Uemail</td>


                <td>@customer.Place</td>
            </tr>
            }
        </table>



    }*@











